.blockPadding {
  padding-top: 155px;

  @include min-desktop {
    padding-top: 200px;
  }

  @include tablet {
    padding-top: 136px;
  }
  @include small-tablet {
    padding-top: 118px;
  }
}

.title {
  margin: 0;

  h1 {
    margin: 0;
    font-family: "Tahoma";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-x);
    line-height: var(--font-line-x);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary1);

    @include mobile {
      font-size: var(--font-size-xm);
      line-height: var(--font-line-xm);
    }
  }
}

.subtitle {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  letter-spacing: 0.012em;
  text-transform: uppercase;
  color: var(--primary1);

  @include mobile {
    font-size: var(--font-size-mm);
    line-height: var(--font-line-mm);
  }

  h1 {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    letter-spacing: 0.012em;
    text-transform: uppercase;
    color: var(--primary1);

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
    }
  }

  h2 {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    letter-spacing: 0.012em;
    text-transform: uppercase;
    color: var(--primary1);

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
    }
  }
}

.text {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);

  p {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    margin-bottom: .7em;

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
    }
  }

  b {
    margin: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primary1);

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
    }
  }

  strong {
    margin: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primary1);

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
    }
  }

  a {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.05em;
    color: var(--primary2);
    transition: all 0.3s ease;

    @include hover {
      opacity: 0.8;
    }
  }
}

.signature {
  display: flex;
  justify-content: flex-end;

  p {
    margin: 0;
    text-align: right;
    font-style: italic;
    max-width: 300px;

    @include mobile {
          font-size: var(--font-size-mm);
          line-height: var(--font-line-mm);
    }
  }
}

.quote {
  margin: 0;
}

.line-span {
  margin: 0;
  position: absolute;
  max-width: 227px;
  color: var(--primary3);
  z-index: 2;
  left: 24px;
  bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 64px;
    background: var(--primary2);
    transition: all 0.4s ease-in-out;
  }

  &.welcome {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    max-width: 482px;
    text-transform: uppercase;
    left: 44px;

    &::before {
      bottom: -8px;
      height: 4px;
      width: 60px;
    }

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
      width: 90%;
      left: 16px;

      &::before {
        height: 2px;
        width: 30px;
      }
    }
  }

  &.blockProduct {
    max-width: 328px;
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    text-transform: uppercase;
    left: 16px;

    &::before {
      bottom: -8px;
      height: 4px;
      width: 40px;
    }

    @include mobile {
      font-size: var(--font-size-mm);
      line-height: var(--font-line-mm);
      width: 90%;
      left: 16px;

      &::before {
        height: 2px;
        width: 30px;
      }
    }
  }

  &.sliderVslider {
    max-width: 312px;
  }
}
