.title {
  margin: 0;

  h1 {
    margin: 0;
    font-family: "Tahoma";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-x);
    line-height: var(--font-line-x);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary1);
  }
}

.subtitle {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  letter-spacing: 0.012em;
  text-transform: uppercase;
  color: var(--primary1);

  h1 {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    letter-spacing: 0.012em;
    text-transform: uppercase;
    color: var(--primary1);
  }

  h2 {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    letter-spacing: 0.012em;
    text-transform: uppercase;
    color: var(--primary1);
  }
}

.text {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);

  p {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    @include mb(.7em);
  }

  b {
    margin: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primary1);
  }

  strong {
    margin: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    color: var(--primary1);
  }

  a {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.05em;
    color: var(--primary2);
    transition: all 0.3s ease;

    @include hover {
      opacity: 0.8;
    }
  }
}

.signature {

  display: flex;
  justify-content: flex-end;


  p {
    margin: 0;
    text-align: right;
    font-style: italic;
    max-width: 300px;
  }
}

.quote {
  margin: 0;
}

.line-span {
  margin: 0;
  position: absolute;
  max-width: 227px;
  color: var(--primary3);
  z-index: 2;
  left: 24px;
  bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    bottom: -8px;
    height: 2px;
    width: 64px;
    background: var(--primary2);
    transition: all 0.4s ease-in-out;
  }

  &.welcome {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    max-width: 482px;
    text-transform: uppercase;
    left: 44px;

    &::before {
      bottom: -8px;
      height: 4px;
      width: 60px;
    }
  }

  &.blockProduct {
    max-width: 328px;
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    text-transform: uppercase;
    left: 16px;

    &::before {
      bottom: -8px;
      height: 4px;
      width: 40px;
    }
  }

  &.sliderVslider {
    max-width: 312px;
  }
}
