.contact {
  &__container {
    background: var(--primary5);

    color: var(--primary3);

    .subtitle {
      color: var(--primary3);
      margin-bottom: 32px;

      h2 {
        color: var(--primary3);

        @include mobile {
          font-size: var(--font-size-l);
          line-height: var(--font-line-l);
        }
      }
    }

    .container {
      @include small-tablet {
        padding: 0;
      }
    }
  }

  &__content {
    // margin: 0 auto;

    display: flex;
    padding-left: calc((100% - 1218px) / 2);
    // padding-left: ;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);

    @include small-tablet {
      flex-direction: column;
      padding: 0;
    }
    &--left {
      flex-shrink: 0;
      padding-top: 72px;
      padding-bottom: 40px;

      @include small-tablet {
        padding: 0;
        padding: 56px 16px;
      }
      // padding-left: 30px;
      // grid-column: 3 / 4 span; 492px
    }

    &--right {
      width: calc(100% - 492px - 60px);

      @include small-tablet {
        width: auto;
      }
      // grid-column: 7 / 7 span;
    }
  }

  &__info {
    margin-bottom: 88px;
    margin-right: 118px;
    @include small-tablet {
      margin-bottom: 56px;
      margin-right: 0;
    }

    &--row {
      font-family: "Roboto";
      display: flex;
      max-width: 354px;

      @include mb(8px);
      &:first-child {
        display: inline-block;

        span {
          float: left;
        }
      }


      @include mobile {
        display: inline-block;
      }


      &:last-child {
        @include mobile {
          display: flex;
        }
      }
      span {
        margin: 0;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        font-weight: 700;
        margin-right: 6px;

        @include mobile {
          float: left;
          font-size: var(--font-size-mm);
          line-height: var(--font-line-mm);
        }
      }

      p {
        margin: 0;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);

        @include mobile {
          font-size: var(--font-size-mm);
          line-height: var(--font-line-mm);
        }
      }

      a {
        position: relative;
        margin: 0;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        color: var(--primary3);
        transition: all 0.4s ease-in-out;

        @include mobile {
          font-size: var(--font-size-mm);
          line-height: var(--font-line-mm);
        }

        &::after {
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 0.1em;
          background-color: var(--primary3);
          content: "";
          transition: width 0.4s ease-in-out;
        }

        @include hover {
          opacity: 0.9;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: flex-start;

    &--logo {
      min-width: 56px;
      margin-right: 16px;
    }

    &--text {
      p {
        margin: 0;
        @include mb(12px);

        @include mobile {
          font-size: var(--font-size-mm);
          line-height: 19px;
          @include mb(3px);
        }
      }
    }
  }

  &__map {

    width: 1390px;

    @include big-desktop {
      width: 830px;
    }

    @include tablet {
      width: 768px;
      min-height: 432px;
    }

    @include mobile {
      position: relative;
      z-index: 0;
      width: 100%;
    }

    iframe {
      width: 100%;
      height: 30em;
      margin-bottom: -0.5em;
      border: none;






    }
  }
}
