.form {
  &__container {
    padding-top: 48px;
    background: var(--bg-block);
    padding-bottom: 80px;

    .subtitle {
      margin-bottom: 24px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &--right {
      max-width: 694px;
      margin-right: 16px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      ul > li {
        margin: 0;
        position: relative;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        @include mb(0.5em);
        padding-left: 30px;

        &::before {
          border-right: 1.5px solid var(--primary2);
          content: "";
          display: block;
          height: 10px;
          margin-top: -8px;
          position: absolute;
          transform: rotate(135deg);
          left: 8px;
          top: 10px;
          width: 0;
        }

        &::after {
          border-right: 1.2px solid var(--primary2);
          content: "";
          display: block;
          height: 10px;
          margin-top: -8px;
          position: absolute;
          left: 8px;
          top: 10px;
          width: 0;
          margin-top: 0px;
          transform: rotate(45deg);
        }
      }
    }

    &--left {
      margin-top: 10px;
      max-width: 374px;
      width: 100%;
    }
  }

  &__default {
    position: relative;
    transition: all 0.8s ease;
  }

  &__inputs {
    margin-bottom: 32px;
  }

  &__input {
    @include mb(20px);

    input {
      width: 100%;
      border-radius: 4px;
      background: var(--bg-block);
      border: 1px solid var(--primary5);
      padding: 12px;
      outline: none;
    }

    textarea {
      width: 100%;
      resize: none;
      background: var(--bg-block);
      border: 1px solid var(--primary5);
      height: 108px;
      border-radius: 4px;
      outline: none;
      padding: 12px;
    }
  }

  &__button {
    position: relative;
  }

  &__warning {
    position: absolute;
    top: -1.6em;
    font-size: 1em;
    color: var(--error);
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }

  &__success {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-l);
    line-height: var(--font-size-l);
    width: 100%;
    text-align: center;
    height: 64%;
    border-radius: 4px;
    color: var(--primary3);
    background: var(--liner1);

    opacity: 0;
    visibility: hidden;
    transition: .8s ease;
  }
}
