.fullPicture {
  &__container {
    margin: 0 auto;
    margin-bottom: 64px;
    position: relative;

    .title {
      max-width: 472px;
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 26px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    grid-column: 7 / 7 span;

    @include mobile {
      grid-column: 1 / 12 span;
    }



    .liner-3 {

      @include mobile {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80.97%, #ffffff 100%);
      }

    }
    .image {
      min-height: 538px;
      max-height: 538px;
      width: 100vw;
      user-select: none;

      @include mobile {
        min-height: 328px;
        max-height: none;
        // width: auto;

      }
    }
  }

  &__descr {
    position: absolute;
    max-width: 1158px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    @include min-desktop {
      left: 54%;
    }

    @include mobile {
      top: auto;
      transform: none;
      left: auto;
      position: relative;
      padding: 0 16px;
      margin-top: -1em;


    }
  }

  &__button {
    max-width: 337px;

    @include mobile {
      max-width: 100%;
    }
  }
}
