.fullPicture {

  &__container {
    margin: 0 auto;
    margin-bottom: 64px;
    position: relative;

    .title {
      max-width: 472px;
      margin-bottom: 30px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__img {
    grid-column: 7 / 7 span;
    .image {
      height: 538px;
      width: 100vw;
      user-select: none;
    }

  }

  &__descr {
    position: absolute;
    max-width: 1158px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    @include min-desktop {
      left: 54%;
    }

   
  }

  &__button {
    max-width: 337px;

  }



}
