<div class="blockPageProduct">
  <div class="container">
    <div class="container__main">
      <div class="container__right">
        <!-- content-right 66% -->
        <div class="blockPageProduct__content">
          <div class="text">
            <p>Гадолиний (в честь Иохана Гадолина) — порядковый номер в периодической системе Менделеева 64, обозначается символом Gd, атомный вес 157,25.
              Металлический гадолиний обладает не только особыми ядерно-физическими свойствами, но и технологичностью. Основными областями применения гадолиния являются электроника и атомная техника. Ряд сплавов гадолиния и особенно сплав с кобальтом и железом позволяет создавать носители информации с колоссальной плотностью записи.
              </p>
          </div>
        </div>
      </div>
      <div class="container__left">
        <!-- content-left 32% -->
        @include('blockPrice.html')
        @include('pagination.html')
        @include('slider-vertical.html')
      </div>
    </div>
  </div>
</div>
