<div class="blockAbout">
  <div class="container">
    <div class="container__main">
      <div class="container__right">
        <!-- content-right 66% -->
        <div class="blockAbout__content">
          <div class="text">
            <div class="imagefloat float-left">
              <picture>
                <img src="../img/block-576-2.jpg" class="image" alt="">
              </picture>
            </div>
            <p>
              Компания ТДМ96 была основана в 2009 году и к настоящему моменту уже имеет дилерское соглашение с китайской компанией Nanjiang Beider Chemical Co, Ltd. на поставку  химических реактивов на территорию РФ. На поставку редкоземельных элементов и их соединений ТДМ96 имеет прочные связи с одним из лидеров редкоземельного добывающего и перерабатывающего сектора компанией TJ Technologies and Materials Co., Ltd.
              В связи с резко меняющейся ситуацией на китайском рынке РЗЭ, компания ТДМ96 прилагает все усилия, чтобы удерживать цены на приемлемом для российского рынка уровне,
              сохраняя при этом гарантии высшего качества продуктов и материалов.
            </p>
            <p>
              Опыт, полученный нашей компанией за время ее существования, укрепляет наши позиции на фоне остальных конкурентов. Растущее число партнеров лишь подтверждает данный факт. Слаженная команда профессионалов главной задачей своей работы ставит понимание потребностей заказчика для того, чтобы помочь в выборе нужного продукта из широкого ассортимента предлагаемых нами материалов. Поэтому в любой момент Вы можете обратиться к менеджерам нашей компании за консультативной поддержкой.
            </p>
            <p>
              Мы понимаем, что в настоящее время найти достойных партнеров на рынке довольно сложно, и когда такие партнеры находятся — это можно считать удачей. Поэтому огромное внимание мы стараемся уделить переговорному процессу, чтобы подобрать Заказчикам удобные условия оплаты, найти лучшие пути решения технологических задач, обеспечить сжатые сроки поставки материалов.
            </p>
            <p>
              В современных рыночных условиях деловое партнерство должно быть построено исключительно на взаимном уважении интересов друг друга  и направлено на долгосрочное сотрудничество. Ответственность и надежность мы ставим во главу угла ведения бизнеса. Пристальное внимание мы уделяем качеству поставляемых материалов, так как понимаем, что зачастую это играет ключевую роль для наших клиентов.
            </p>
          </div>
          <div class="signature">
            <p>
              С уважением к Вам и Вашему бизнесу, команда профессионалов ООО ТДМ96
            </p>
          </div>
        </div>
      </div>
      <div class="container__left">
        <!-- content-left 32% -->
        @include('pagination.html')
      </div>
    </div>
  </div>
</div>
