<div class="blockContact">
  <div class="container">
    <div class="container__main">
      <div class="container__right">
        <!-- content-right 66% -->
        <div class="blockContact__content">
          <div class="text">
            <div class="imagefloat float-right">
              <picture>
                <img src="../img/block-576-1.jpg" class="image" alt="">
              </picture>
            </div>
            <p>
              Если у Вас возникли вопросы по тем или иным позициям в нашем
              каталоге продукции — сообщите нам! Наш ответ не заставит Вас
              ждать! Вас интересует наличие материала на складе или сроки
              поставки — сообщите нам! Будьте уверены, наши специалисты ответят
              на все Ваши вопросы! Если в каталоге нашей продукции Вы не смогли
              найти то, что Вам необходимо, то просто сообщите нам! Мы
              обязательно постараемся найти для Вас именно то, что Вы ищите!
            </p>

            <p>
              Вы желаете начать с пробной партии или получить образцы продукции
              — сообщите нам! Мы открыты для сотрудничества и обязательно пойдем
              Вам навстречу!
            </p>
          </div>
          <div class="blockContact__descr">
            <div class="subtitle">
              наши контакты
            </div>
            <div class="contact__info">
              <div class="contact__info--row">
                <span>Адрес:</span>
                <p>г. Екатеринбург, ул. Мамина-Сибиряка, д. 85, офис 712</p>
              </div>
              <div class="contact__info--row">
                <span>e-mail:</span>
                <a href="mailto:tdm96@tdm96.ru" >tdm96@tdm96.ru</a>
              </div>
              <div class="contact__info--row">
                <span>Телефон/факс:</span>
                <a href="tel:8-343-378-06-64">(343) 378-06-64, 350-47-95</a>
              </div>
              <div class="contact__info--row">
                <span>Часы работы:</span>
                <p>пн — пт с 9.00 до 18.00</p>
              </div>
            </div>
            <div class="blockContact__map">
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A432cb265e1750ac40b03949f9a4065252bcdf633f064ee51e8042f905091b73c&amp;source=constructor" width="" height="" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="container__left">
        <!-- content-left 32% -->
        @include('pagination.html')
      </div>
    </div>
  </div>
</div>
