<div class="welcome">
  <div class="welcome__container">
    <div class="container">
      <div class="welcome__content">
        <div class="subtitle">
          <h2>Мы рады приветствовать Вас на сайте компании ООО «TDM96»!</h2>
        </div>
        <div class="text">
          <p>
            На нашем сайте Вы сможете найти интересующую Вас информацию о
            редкоземельных материалах, металлах и оксидах.
          </p>
          <p>
            В каталоге продукции нашей
            компании Вы найдете следующие позиции:
          </p>

        </div>
      </div>
      <div class="welcome__blocks">
        <div class="welcome__item relative">
          <a href="#">
            <div class="liner liner-r-16 liner-h-98"></div>
            <div class="welcome__box">
              <div class="welcome__item--img">
                <picture>
                  <img src="./img/block-596-1.jpg" class="image" alt="">
                </picture>
              </div>

              <div class="line-span welcome">Редкоземельные металлы и сплавы</div>
            </div>
          </a>
        </div>
        <div class="welcome__item relative">
          <a href="#">
            <div class="liner liner-r-16 liner-h-98"></div>
            <div class="welcome__box">
              <div class="welcome__item--img">
                <picture>
                  <img src="./img/block-596-2.jpg" class="image" alt="">
                </picture>
              </div>

              <div class="line-span welcome">Редкоземельные оксиды</div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
