<div class="blockText">
  <div class="blockText__container">
    <div class="container">
      <div class="container__main">
        <div class="container__right">
          <!-- content-right 66% -->
          <div class="text">
            <p>
              Для каждого редкоземельного материала составлена таблица
              химического содержания примесей, что облегчит для Вас поиск
              конкретной позиции. Для химических реагентов Вы найдете различные
              варианты чистоты.
            </p>
            <p>
              Наш сайт мы построили таким образом, чтобы на нем Вы могли
              чувствовать себя легко и уверенно, получая полную информацию по
              качеству и применению всей продукции в различных областях
              деятельности. Если же у Вас возникают вопросы по применению того
              или иного продукта, специалисты нашей компании с удовольствием
              дадут ответ на любой интересующий Вас вопрос.
            </p>
            <p>
              В современных рыночных условиях деловое партнерство должно быть
              построено исключительно на взаимном уважении интересов друг друга
              и направлено на долгосрочное сотрудничество. Ответственность и
              надежность мы ставим во главу угла ведения бизнеса. Пристальное
              внимание мы уделяем качеству поставляемых материалов, так как
              понимаем, что зачастую эту играет ключевую роль для наших
              клиентов.
            </p>
            <p>
              Большой ассортимент поставляемых материалов, широкий спектр
              чистоты интересующих продуктов, а также различные варианты
              упаковки выгодно отличают нас от конкурентов. Оптимальное
              соотношение цены и качества закрепляет наши преимущества перед
              остальными на сложном рынке РЗМ. Проверенная временем команда ООО
              ТДМ96 способна найти для Вас и Вашего бизнеса точное и оперативное
              решение и удовлетворит потребности в полном объеме.
            </p>
            <p>
              Опыт, полученный компанией за время ее существования, служит
              основой для ведения успешного бизнеса, в котором клиент играет
              ключевую роль. Поэтому нам Важно точно понять Ваш запрос, чтобы
              обеспечить полноценный и качественный подход к решению
              поставленной задачи
            </p>
            <p>
              Главная задача нашей компании — профессионально и надежно вести
              свой бизнес!!
            </p>
            <p>
              Мы открыты для долгосрочного партнерства и взаимовыгодного
              сотрудничества и делаем все возможное, чтобы качественно воплотить
              в жизнь любой, даже самый сложный запрос поставки материала.
              Растущее число партнеров свидетельствует о том, что мы делаем
              верные шаги в выбранном нами направлении и заслуживаем доверия.
            </p>
            <p>
              Вместе с нашими специалистами Вы найдете оптимальное решение любой
              Вашей задачи. Мы гордимся нашими специалистами, потому что уверены
              в их компетенции, ответственности и способности всегда оказать
              помощь Вам и Вашему бизнесу в принятии верного решения.
            </p>
            <p></p>
          </div>
        </div>
        <div class="container__left">
          <!-- content-left 32% -->
          @include('pagination.html')
        </div>
      </div>
    </div>
  </div>
</div>
