<div class="blockProduct">
  <div class="container">
    <div class="container__main">
      <div class="container__right">
        <!-- content-right 66% -->
        <div class="blockProduct__content">
          <div class="text">
            <p><b>Добро пожаловать на склад компании TDM96!</b></p>
            <p>Предлагаем Вашему вниманию нашу продукцию:</p>
          </div>
          <div class="blockProduct__row">
            <div class="blockProduct__item relative">
              <a href="">
                <div class="liner liner-r-16 liner-h-97"></div>
                <div class="blockProduct__box">
                  <div class="blockProduct__item--img">
                    <picture>
                      <img src="./img/block-596-1.jpg" class="image" alt="">
                    </picture>
                    <div class="line-span blockProduct">Редкоземельные металлы и сплавы</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="blockProduct__item relative">
              <a href="">
                <div class="liner liner-r-16 liner-h-97"></div>
                <div class="blockProduct__box">
                  <div class="blockProduct__item--img">
                    <picture>
                      <img src="./img/block-596-2.jpg" class="image" alt="">
                    </picture>
                    <div class="line-span blockProduct">Редкоземельные оксиды</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="text">
            <p>Компания ТДМ96 специализируется на поставках редких металлов, соединений редкоземельных элементов, постоянных магнитов на основе неодима или самария, а также химических реактивов из Китая. Объем поставок — от 1 килограмма. Чистота продукции подтверждается сертификатами производителя.
            </p>
            <p>Огромное внимание мы уделяем запросам наших клиентов, так как точное понимание потребностей позволяет нам подобрать нужную чистоту и четкие химические характеристики, необходимые для конкретных целей Заказчика.</p>
            <p>Благодарим за доверие, оказанное Вами нашей компании. Будьте уверенны, даже самый взыскательный Клиент получит комплексное решение по своему заказу.
            </p>
            <p>Ни один запрос не останется без внимания! На каждый вопрос мы дадим ответ!
            </p>
            <p>Полную информацию о наличии материалов на складе, о стоимости продукции, скидках и по другим интересующим Вас вопросам Вы можете получить при обращении к нашим менеджерам.</p>
          </div>
        </div>

      </div>
      <div class="container__left">
        <!-- content-left 32% -->
        @include('pagination.html')
      </div>
    </div>
  </div>
</div>
