<div class="blockPageProduct">
  <div class="container">
    <div class="container__main">
      <div class="container__right">
        <!-- content-right 66% -->
        <div class="blockPageProduct__content">
          <div class="blockPageProduct__Imgleft">
            <span class="blockPageProduct__Imgleft">
              <picture>
                <img src="./img/block-576-5.jpg" class="image" alt="" />
              </picture>
            </span>
            <div class="text">
              <p>
                <strong>Гадолиний (в честь Иохана Гадолина)</strong>
                — порядковый номер в периодической системе Менделеева 64,
                обозначается символом Gd, атомный вес 157,25.
              </p>
              <p>
                <b
                  >Металлический гадолиний обладает не только особыми
                  ядерно-физическими свойствами,</b
                >
                но и технологичностью. Основными областями применения гадолиния
                являются электроника и атомная техника. Ряд сплавов гадолиния и
                особенно сплав с кобальтом и железом позволяет создавать
                носители информации с колоссальной плотностью записи.
              </p>
            </div>
          </div>
          <div class="text">
            <p>
              <strong>В атомной технике металлический гадолиний</strong>
              нашел применение для защиты от тепловых нейтронов, так как этот
              элемент обладает наивысшей способностью к захвату нейтронов из
              всех элементов. В этой связи металлический гадолиний очень
              интересен для управления ядерным реактором и для конструирования
              защиты от нейтронов.
            </p>
            <p>
              <a href="#">Оксид гадолиния</a>
              используется для варки стекла, поглощающего тепловые нейтроны.
              Самый распространенный состав такого стекла: оксид бора-33 %,
              <a href="#">оксид кадмия</a>
              -35 %, оксид гадолиния-32 %.
            </p>
            <p>
              <strong>В небольшом объеме гадолиний</strong>
              применяется для получения сверхнизких температур в научных
              исследованиях, так, например, сульфат гадолиния при
              размагничивании вблизи к Абсолютному нулю температур позволяет
              снизить температуру до 0,0001 К.
            </p>
            <p>
              <b>Сплав гадолиний — железо</b>
              применяется как очень емкий аккумулятор водорода, и может быть
              применен для водородного автомобиля.
            </p>
            <p>
              Сплав гадолиний — <a href="">тербий</a> (монокристаллический)
              используется для производства магнитных холодильников.
            </p>
            <p>
              <strong
                >Небольшое количество гадолиния идет для производства титановых
                сплавов для повышения предела прочности и текучести
                последних.</strong
              >
            </p>
          </div>
          @include('tableProduct.html')
          <div class="blockPageProduct__story">
            <div class="text">
              <div class="subtitle">История происхождения</div>
              <p>
                <b
                  >В 1880 году шведский химик Жан Чарльз Галиссард де
                  Мариньяк</b
                >
                записал ранее неизвестные спектографические линии при выделении
                оксида, взятого из минерала самарскита. Причиной этому был ранее
                неизвестный элемент, который теперь мы знаем как гадолиний.
              </p>
              <p>
                <b
                  >В 1886 году французский химик Поль Эмиль Лекок де
                  Буабодран</b
                >
                подтвердил открытие Мариньяка. Буабодран предложил назвать новый
                элемент гадолинием в честь известного химика, жившего в 18
                столетии – Иоганна Гадолина (открывшего иттрий). Мариньяк
                поддержал предложение Буабодрана.
              </p>
              <p>
                Ранее, в 1853 году Мариньяк, используя тот же метод, открыл
                <a href="">самарий</a> , а в 1878 году –
                <a href="">иттербий</a>.
              </p>
              <p>
                Чистый металлический гадолиний (99,3%) впервые был получен
                французским химиком и инженером Феликсом Тромбом в 1935 году.
              </p>
              <p>
                Несколькими месяцами позже Джордж Урбан, Пьер Вейс и Феликс
                тромб открыли, что гадолиний становится ферромагнетиком при
                комнатной температуре. Таким образом, гадолиний – первый чистый
                элемент, показавший такие свойства наряду с «классическими»
                элементами: кобальт, никель, железо.
              </p>
              <p>
                Также ученые обнаружили, что гадолиний проявляет ферромагнитные
                свойства сильнее, чем железо, но только при низких температурах.
              </p>
              <p>
                <b>Гадолиний производится из</b>
                <a href="">монацитов и бастнацитов.</a>
                Минералы в виде щебня подвергаются воздействию соляной или
                серной кислоты, которая превращает нерастворимый редкоземельный
                оксид в растворимые хлориды или сульфаты. Кислые фильтраты
                частично нейтрализуются каустической содой pH 3-4. Торий
                выпадает в осадок раствора в виде гидроокиси и удаляется. После
                этого раствор обрабатывают оксалатом аммония для преобразования
                РЗЭ в их нерастворимые оксалаты. С помощью прокаливания оксалаты
                преобразуются в оксиды. Оксиды растворяются в азотной кислоте,
                за исключением одного из основных компонентов –
                <a href="">церия</a>, оксид которого не растворяется в азотной
                кислоте. Раствор обрабатывается нитратом магния, что продуцирует
                кристаллическую смесь двойных <a href="">солей гадолиния</a>,
                <a href="">самария</a> и <a href="">европия</a>. Соли
                разделяются через ионный обмен. В ходе этого процесса ионы
                сорбируются на подходящих ионнообменных смолах. Обмен происходит
                с ионами водорода, аммиака или меди, присутствующих в смоле.
                Затем редкоземельные ионы выборочно вымываются подходящими
                комплексообразующими агентами. Металлический гадолиний получают
                из его оксида или соли путем нагревания с кальцием до
                температуры 1450 градусов Цельсия в аргоновой среде. Губчатый
                гадолиний может быть получен за счет смешения расплавленного
                GdCl3 с соответствующим оксидом металла при температуре ниже
                1312 ° C (температура плавления Gd) при пониженном давлении.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container__left">
        <!-- content-left 32% -->
        @include('blockPrice.html') @include('pagination.html')
        @include('slider-vertical.html')
      </div>
    </div>
  </div>
</div>
