<div class="breadcrumb product">
  <ol class="">
    <li class="breadcrumb-item"><a href="#">Главная</a></li>
    <li class="breadcrumb-item"><a href="#">Продукция</a></li>
    <li class="breadcrumb-item"><a href="#">Редкоземельные металлы</a></li>
    <li class="breadcrumb-item active">Гадолиний металлический</li>
  </ol>
<!-- такой вид она должна принять при мобильке когда объектов больше двух -->
  <ol class="">
    <li class="breadcrumb-item"><a href="#">...</a></li>
    <li class="breadcrumb-item"><a href="#">Редкоземельные металлы</a></li>
    <li class="breadcrumb-item active">Гадолиний металлический</li>
  </ol>
</div>
