<section class="contact">
  <div class="contact__container">
    <div class="container">
      <div class="contact__content">
        <div class="contact__content--left">
          <div class="subtitle">
            контакты
          </div>
          <div class="contact__info">
            <div class="contact__info--row">
              <span>Адрес:</span>
              <p>г. Екатеринбург, ул. Мамина-Сибиряка, д. 85, офис 712</p>
            </div>
            <div class="contact__info--row">
              <span>e-mail:</span>
              <a href="mailto:tdm96@tdm96.ru" >tdm96@tdm96.ru</a>
            </div>
            <div class="contact__info--row">
              <span>Телефон/факс:</span>
              <a href="tel:8-343-378-06-64">(343) 378-06-64, 350-47-95</a>
            </div>
            <div class="contact__info--row">
              <span>Часы работы:</span>
              <p>пн — пт с 9.00 до 18.00</p>
            </div>
          </div>
          <div class="contact__copyright">
            <div class="contact__copyright--logo">
              <img src="../img/svg/logo-footer.svg" class="image" alt="">
            </div>
            <div class="contact__copyright--text">
              <p>ООО "ТДМ96"© все права защищены.</p>
              <p>ЗАЧЕСТНЫЙ БИЗНЕС</p>
            </div>
          </div>
        </div>
        <div class="contact__content--right">
          <div class="contact__map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A432cb265e1750ac40b03949f9a4065252bcdf633f064ee51e8042f905091b73c&amp;source=constructor" width="" height="" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
