<section class="fullPicture">
  <div class="fullPicture__container">
    <div class="fullPicture__content">

      <div class="fullPicture__img relative">
        <div class="liner liner-3 liner-h-99"></div>
        <picture>
          <img src="../img/block-894-1.png" class="image" alt="">
        </picture>
      </div>
      <div class="fullPicture__descr">
        <div class="">
          <div class="title">
            <h1>
              Редкоземельные металлы и оксиды
            </h1>
          </div>
          <div class="fullPicture__button">
            <a href="#form" class="btn-reset btn__default wide">Оставить заявку</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
