<header class="header">
  <div class="header__container">
    <div class="container">
      <div class="header__content">
        <div class="header__content--right">
          <div class="header__content--logo">
            <a href="#">
              <svg class="header__logo" viewBox="0 0 176 78">
                <use xlink:href="img/sprite.svg#logo"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="header__content--left">
          <div class="header__info">
            <ul>
              <li>
                <svg class="header__info--img" viewBox="0 0 18 24">
                  <use xlink:href="img/sprite.svg#map"></use>
                </svg>
                <span
                  >г. Екатеринбург, ул. Мамина-Сибиряка, д. 85, оф. 712</span
                >
              </li>
              <li>
                <svg class="header__info--img" viewBox="0 0 24 23">
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                <a href="tel:8-343-378-06-64"
                  >+7 343 378-06-64</a
                >
              </li>
              <li>
                <svg class="header__info--img" viewBox="0 0 22 18">
                  <use xlink:href="img/sprite.svg#mail"></use>
                </svg>
                <a href="mailto:tdm96@tdm96.ru"
                  >tdm96@tdm96.ru</a
                >
              </li>
            </ul>
          </div>
          <div class="header__nav">
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item active"><a href="home.html">Главная</a></li>
                <li class="menu-item"><a href="product.html">продукция</a></li>
                <li class="menu-item"><a href="about.html">о компании</a></li>
                <li class="menu-item"><a href="contact.html">Контакты</a></li>
                <li class="menu-item"><a href="connection.html">Обратная связь</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__burger">
            <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header__menu"></div>
  </div>
</header>
