<section class="index">
  <div class="index__container">
    <div class="index__box">
      <div class="index__cont">
        <a href="home.html" class="btn btn__index">Главная</a>
        <a href="pageProduct.html" class="btn btn__index">Страница продукта</a>
      </div>
      <div class="index__cont">
        <a href="about.html" class="btn btn__index">О компании</a>
        <a href="contact.html" class="btn btn__index">Контакты</a>
      </div>
      <div class="index__cont">
        <a href="connection.html" class="btn btn__index">Обратная связь</a>
        <a href="product.html" class="btn btn__index">Продукция</a>
      </div>
      <div class="index__cont">
        <a href="articles.html" class="btn btn__index">Статьи</a>

      </div>



    </div>
  </div>
</section>
