<div class="paginationDef">
  <div class="paginationDef__container">
    <div class="subtitle">
      Продукция
    </div>
    <div class="paginationDef__content">
      <ul>
        <li class=""><a  href="#">Редкоземельные металлы</a>
          <ul>
            <li class="active"> <a href="#" >Гадолиний металлический</a></li>
            <li class=""><a href="#">Гольмий металлический</a></li>
            <li class=""><a href="#">Диспрозий металлический</a></li>
            <li class=""><a href="#">Европий металлический</a></li>
            <li class=""><a href="#">Иттербий металлический</a></li>
            <li class=""><a href="#">Иттрий металлический</a></li>
            <li class=""><a href="#">Лантан металлический</a></li>
            <li class=""><a href="#">Лютеций металлический</a></li>
            <li class=""><a href="#">Неодим металлический</a></li>
            <li class=""><a href="#">Празеодим металлический</a></li>
            <li class=""><a href="#">Прометий металлический</a></li>
            <li class=""><a href="#">Самарий металлический</a></li>
            <li class=""><a href="#">Скандий металлический</a></li>
            <li class=""><a href="#">Тербий металлический</a></li>
            <li class=""><a href="#">Тулий металлический</a></li>
            <li class=""><a href="#">Церий металлический</a></li>
            <li class=""><a href="#">Эрбий металлический</a></li>
          </ul>
        </li>

        <li class=""><a href="#">Редкоземельные оксиды</a>
          <ul>
            <li class=""><a href="">Оксид гадолиния и соединения</a></li>
            <li class=""><a href="">Оксид гольмия и соединения</a></li>
            <li class=""><a href="">Оксид диспрозия и соединения</a></li>
            <li class=""><a href="">Оксид европия и соединения</a></li>
            <li class=""><a href="">Оксид иттербия и соединения</a></li>
            <li class=""><a href="">Оксид иттрия и соединения</a></li>
            <li class=""><a href="">Оксид лантана и соединения</a></li>
            <li class=""><a href="">Оксид лютеция и соединения</a></li>
            <li class=""><a href="">Оксид неодима и соединения</a></li>
            <li class=""><a href="">Оксид празеодима и соединения</a></li>
            <li class=""><a href="">Оксид самария и соединения</a></li>
            <li class=""><a href="">Оксид скандия и соединения</a></li>
            <li class=""><a href="">Скандий металлический</a></li>
            <li class=""><a href="">Оксид тербия и соединения</a></li>
            <li class=""><a href="">Оксид тулия и соединения</a></li>
            <li class=""><a href="">Оксид церия и соединения</a></li>
            <li class=""><a href="">Оксид эрбия и соединения</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
