<div class="quote">
  <div class="quote__container">
    <div class="quote__content">
      <ul>
        <li>
          Многие заводы и предприятия до сих пор используют советскую классификацию
          <b>металлического гадолиния.</b>
        </li>
        <li>
          По <strong>ТУ 48-4-210-72</strong> (с изменениями) различают следующие марки: ГдМ-1, ГдМ-2, ГдМ-3.
        </li>
        <li><strong>ГдМ-1= 99,85% по массе,</strong></li>
        <li><strong>ГдМ-2= 98,84% по массе,
        </strong></li>
        <li><strong>ГдМ-3= 98,24% по массе.</strong></li>
      </ul>

    </div>
  </div>
</div>


