<div class="sliderV">
  <div class="sliderV__container">
    <div class="sliderV__content">
      <div class="subtitle">
        статьи
      </div>
      <div class="swiper slider--vertical">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="sliderV__column">
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-1.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Обзор рынка РЗМ 2017</div>
                  </div>
                </a>
              </div>
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-2.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Иттрий в Солнечной системе</div>
                  </div>
                </a>
              </div>
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-3.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Обзор рынка РЗМ 2012</div>
                  </div>
                </a>
              </div>
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-4.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Как образовались редкоземельные элементы?</div>
                  </div>
                </a>
              </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="sliderV__column">
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-1.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Обзор рынка РЗМ 2017</div>
                  </div>
                </a>
              </div>
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-2.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Иттрий в Солнечной системе</div>
                  </div>
                </a>
              </div>
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-3.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Обзор рынка РЗМ 2012</div>
                  </div>
                </a>
              </div>
              <div class="sliderV__item relative">
                <a href="">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderV__box">
                    <div class="sliderV__item--img">
                      <picture>
                        <img src="../img/block-413-4.jpg" class="image" alt="">
                      </picture>
                    </div>
                    <div class="line-span sliderVslider">Как образовались редкоземельные элементы?</div>
                  </div>
                </a>
              </div>
            </div>
           </div>
        </div>
        <div class="sliderV__buttons">
          <div class="sliderV__arrow sliderV__prev"></div>
          <div class="sliderV__arrow sliderV__next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
