<section class="sliderH">
  <div class="sliderH__container">
    <div class="container">
      <div class="subtitle">
        <h2>Статьи</h2>
      </div>
      <div class="sliderH__content">
        <div class="swiper slider--horizontal">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="sliderH__item">
                <a href="#">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderH__item--box">

                    <div class="sliderH__item--img">
                      <img
                        src="../img/block-275-1.png"
                        class="image"
                        alt=""
                      />
                    </div>
                    <div class="sliderH__item--span">Обзор рынка РЗМ 2017</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sliderH__item">
                <a href="#">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderH__item--box">

                    <div class="sliderH__item--img">
                      <img
                        src="../img/block-275-2.png"
                        class="image"
                        alt=""
                      />
                    </div>
                    <div class="sliderH__item--span">Иттрий в Солнечной системе</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sliderH__item">
                <a href="#">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderH__item--box">

                    <div class="sliderH__item--img">
                      <img
                        src="../img/block-275-3.png"
                        class="image"
                        alt=""
                      />
                    </div>
                    <div class="sliderH__item--span">Обзор рынка РЗМ 2012</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sliderH__item">
                <a href="#">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderH__item--box">

                    <div class="sliderH__item--img">
                      <img
                        src="../img/block-275-4.png"
                        class="image"
                        alt=""
                      />
                    </div>
                    <div class="sliderH__item--span">Как образовались редкоземельные элементы?</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="sliderH__item">
                <a href="#">
                  <div class="liner liner-r-16 liner-h-97"></div>
                  <div class="sliderH__item--box">

                    <div class="sliderH__item--img">
                      <img
                        src="../img/block-275-4.png"
                        class="image"
                        alt=""
                      />
                    </div>
                    <div class="sliderH__item--span">Иттрий в Солнечной системе</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sliderH__buttons">
          <div class="sliderH__arrow sliderH__prev"></div>
          <div class="sliderH__arrow sliderH__next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
