<div class="tableArticle">
  <div class="tableArticle__container">
    <table>
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Марка</th>
          <th>Долларов/кг</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
