<div class="tableProduct">
  <div class="tableProduct__container">
    <table>
      <thead>
        <tr>
          <th>Наименование</th>
          <th>99,99%</th>
          <th>99,99%</th>
          <th>99,99%</th>
          <th>99,99%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Gd/TREM (% min.)</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="5">Редкоземельные примеси (TREM,% max)	</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sm</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Eu</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Tb</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Dy</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Er</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Tm</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Yb</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Lu</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Y</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="5">Нередкоземельные примеси ( % max)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Y</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Dy</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Ho</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Er</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Tm</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Yb</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Lu</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        <tr>
          <td>Y</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
          <td>99,99%</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
