<div class="div">
  <div class="title">
    <h1>
      sfsdf
    </h1>
  </div>
  <div class="subtitle">

    <h1>Далеко-далеко, за.</h1>
    <h2>Далеко-далеко, за словесными.</h2>
  </div>



  <div class="text">
    <p>
      Для каждого редкоземельного материала составлена таблица химического содержания примесей, что облегчит для Вас поиск конкретной позиции. Для химических реагентов
      <b>Вы найдете различные варианты чистоты.</b>
      <a href="#">Далеко-далеко.</a>
      <strong>Далеко-далеко, за.</strong>
    </p>
    <p>
      Для каждого редкоземельного материала составлена таблица химического содержания примесей, что облегчит для Вас поиск конкретной позиции. Для химических реагентов Вы найдете различные варианты чистоты.
    </p>
    <p>
      Для каждого редкоземельного материала составлена таблица химического содержания примесей, что облегчит для Вас поиск конкретной позиции. Для химических реагентов Вы найдете различные варианты чистоты.
    </p>
    <p>
      Для каждого редкоземельного материала составлена таблица химического содержания примесей, что облегчит для Вас поиск конкретной позиции. Для химических реагентов Вы найдете различные варианты чистоты.
    </p>
  </div>
  <h6>

  </h6>
  <button class="btn-reset btn__default narrow">Оставить заявку</button>
</div>
