.tableProduct {
  &__container {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: -11px;

    @include mobile {
      margin-top: 20px;
      margin-bottom: 56px;
      overflow-x: scroll;
    }


    table {
      width: 100%;
      text-align: center;
      font-family: "Roboto";
      font-style: normal;
      border-spacing: 11px 11px;
      font-size: 16px;
      line-height: 24px;

      @include mobile {
        font-size: 14px;
        line-height: 16px;


      }

      tr > th {
        margin: 0;
        border-radius: 4px;
        font-weight: 600;
        background: var(--bg-block);
        color: var(--primary1);
        padding: 11px 0;

        @include mobile {
          padding: 11px;
          font-size: 12px;
          line-height: 16px;
        }
      }

      tbody > tr > td {
        padding: 11px 0;

        @include mobile {
          padding: 11px;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  // &__caption {
  //   margin-top: 1px;
  //   table > tbody > tr > td {
  //     &:nth-child(1) {
  //       width: 38.7%;
  //     }
  //   }
  // }
}
