.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.3rem;
  color: var(--placeholder);
  content: "/";
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.3rem;
}

.breadcrumb-item.active {
  color: var(--primary2);
  opacity: 0.6;

  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}

.breadcrumb {
  padding-top: 46px;
  margin-bottom: 32px;

  @include mobile {
    padding-top: 24px;
    margin-bottom: 20px;
  }
  ol {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    list-style: none;
    align-items: center;

    @include tablet {
      width: 100%;
      flex-wrap: nowrap;

    }

    @include mobile {
      padding-bottom: 12px;
      overflow-x: scroll;
    }
  }

  ol > li {
    flex-shrink: 0;
  }

  ol > li > a {
    color: var(--placeholder);
    opacity: 0.6;
    transition: all 0.4s;

    @include mobile {
      font-size: 12px;
      line-height: 14px;
    }

    @include hover {
      color: var(--primary1);
      opacity: 1;
    }
  }
}

// стили для больших данных после выполнения функции можно удалить

.breadcrumb.product {

  ol {
    &:first-child {

      @include mobile {
        display: none;
      }
    }
    &:last-child {
      display: none;
      @include mobile {
        display: flex;
      }
    }
  }
}
