.blockProduct {


  &__row {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
  }

  &__item {
    max-height: 373px;
    overflow: hidden;

    .image {
      max-width: 372px;
      min-width: 372px;
      min-height: 200px;
      max-height: 200px;
      border-radius: 16px; 
    }
    &:first-child {
      margin-right: 20px;
    }

    @include hover {

      .liner {
        opacity: 0.5;
      }

      .line-span {

        &::before {
          width: 0;
        }
      }
    }
  }
}
