.blockAbout {

  &__content {

    .text {
      margin-bottom: 24px;
    }

    .imagefloat.float-left {

      .image {
        max-width: 373px;
        min-width: 373px;
        min-height: 328px;
        max-height: 328px;
        border-radius: 16px;
        margin-right: 20px;
      }
    }
  }
}
