.blockAbout {

  &__content {

    @include tablet {
      margin-bottom: 56px;
    }

    .text {
      margin-bottom: 24px;

      @include mobile {
        margin-bottom: 32px;
      }






    }

    .text__row {

      .text {
        margin: 0;

        p {
          margin: 0;
        }
      }

      @include mobile {
        display: flex;
        flex-direction: column-reverse;
      }

    }

    .imagefloat.float-left {

      @include mobile {
        float: none;

      }

      .image {
        max-width: 373px;
        min-width: 373px;
        min-height: 328px;
        max-height: 328px;
        border-radius: 16px;
        margin-right: 20px;
        @include mobile {
          margin: 24px 0;
          max-width: 576px;
          width: 100%;
          height: auto;
          min-width: 0;
          min-height: 0;
          max-height: 576px;
          border-radius: 16px;
          margin-right: 0;
        }
      }
    }
  }
}
