.blockArticle {

  // .text {

  // }

  &__content {
    margin-bottom: 126px;

    .imagefloat.float-left {

      .image {
        max-width: 373px;
        min-width: 373px;
        max-height: 200px;
        min-height: 200px;
        border-radius: 16px;
      }
      margin-top: 16px;
      margin-bottom: 16px;
      margin-right: 20px;
    }

    .imagefloat.float-right {

      margin-left: 20px;

      .image {
        max-width: 274px;
        min-width: 274px;
        max-height: 206px;
        min-height: 206px;
        border-radius: 16px;
      }
      // margin-top: 16px;
      // margin-right: 20px;
    }
  }



}
