
:root {
  // base
  --font-family: "Roboto", "Tahoma" sans-serif;
  --content-width: 1158px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --bg-color: #FFFFFF;
  --bg-block: #F8F8F8;
  --primary1: #010101;
  --primary2: #436DE1;
  --primary3: #ffffff;
  --primary4: #1F1B18;
  --primary5: #0134B8;
  --error: #870322;
  --liner1: linear-gradient(97.59deg, #0033B7 14.4%, #0033B7 66.34%, #4A72CC 78.15%, #1646BD 84.81%, #0638B8 98.81%);
  --liner2: linear-gradient(180deg, rgba(42, 42, 52, 0) 0%, #2A2A34 100%);
  --liner2-hover: linear-gradient(180deg, rgba(41, 41, 41, 0) 0%, #2A2A34 100%);
  --liner3: linear-gradient(270deg, rgba(255, 255, 255, 0) 53.82%, #FFFFFF 100%);
  --placeholder: #727272;

  --font-size-m: 1em;
  --font-line-m: 1.5em;

  --font-m: var(--font-size-m) / var(--font-line-m) "Roboto", sans-serif;

  --font-size-l: 24px;
  --font-line-l: 1.3em;


  --font-l: var(--font-size-l) / var(--font-line-l) "Roboto", sans-serif;

  --font-size-x: 2.5em;
  --font-line-x: 1.2em;

}
